Repository JeanPhilippeKernel/RendererEngine, pull requests merged in 2024-11, with the labels that each got.

#385 Dropping ZEngine header
  Tetragrama/Components/InspectorViewUIComponent.cpp
  Tetragrama/Components/SceneViewportUIComponent.cpp
  Tetragrama/Editor.h
  Tetragrama/Helpers/UIComponentDrawerHelper.h
  Tetragrama/Helpers/WindowsHelper.cpp
  Tetragrama/Layers/RenderLayer.cpp
  Tetragrama/Layers/RenderLayer.h
  ZEngine/ZEngine/Event/WindowEvent.h
  ZEngine/ZEngine/ZEngine.h
Labels: enhancement

#386 Revisiting UI design and implementation
  Panzerfaust/App.axaml
  Panzerfaust/App.axaml.cs
  Panzerfaust/Assets/AppResourceDictionary.axaml
  Panzerfaust/Assets/Icons.axaml
  Panzerfaust/Assets/Images/coding_image.jpg
  Panzerfaust/Assets/Images/image_2.jpg
  Panzerfaust/Extensions/ServiceCollectionExtensions.cs
  Panzerfaust/Models/DefaultImportDir.cs
  Panzerfaust/Models/Project.cs
  Panzerfaust/Models/ProjectConfigJson.cs
  Panzerfaust/Models/SceneList.cs
  Panzerfaust/Panzerfaust.csproj
  Panzerfaust/Program.cs
  Panzerfaust/Service/AppEnvironment/AppEnvironmentService.cs
  Panzerfaust/Service/AppEnvironment/IAppEnvironmentService.cs
  Panzerfaust/Service/Engine/EngineService.cs
  Panzerfaust/Service/Engine/IEngineService.cs
  Panzerfaust/Service/EngineService.cs
  Panzerfaust/Service/IEngineService.cs
  Panzerfaust/Service/IProjectService.cs
  Panzerfaust/Service/IStorageProviderService.cs
  Panzerfaust/Service/ProjectService.cs
  Panzerfaust/Service/StorageProviderService.cs
  Panzerfaust/Validations/IValidationRule.cs
  Panzerfaust/Validations/IValidity.cs
  Panzerfaust/Validations/IsNotNullOrEmptyRule.cs
  Panzerfaust/Validations/ValidatableObject.cs
  Panzerfaust/ViewLocator.cs
  Panzerfaust/ViewModels/Base/ViewModelBase.cs
  Panzerfaust/ViewModels/CustomSplashScreenViewModel.cs
  Panzerfaust/ViewModels/HomePageViewModel.cs
  Panzerfaust/ViewModels/MainViewModel.cs
  Panzerfaust/ViewModels/MainWindowViewModel.cs
  Panzerfaust/ViewModels/ProjectViewModel.cs
  Panzerfaust/ViewModels/ProjectWindowViewModel.cs
  Panzerfaust/ViewModels/SettingsViewModel.cs
  Panzerfaust/ViewModels/ViewLocator.cs
  Panzerfaust/ViewModels/ViewModelBase.cs
  Panzerfaust/Views/CreateProjectView.axaml
  Panzerfaust/Views/CreateProjectView.axaml.cs
  Panzerfaust/Views/CustomSplashScreenView.axaml
  Panzerfaust/Views/CustomSplashScreenView.axaml.cs
  Panzerfaust/Views/HomePageView.axaml
  Panzerfaust/Views/HomePageView.axaml.cs
  Panzerfaust/Views/MainView.axaml
  Panzerfaust/Views/MainView.axaml.cs
  Panzerfaust/Views/MainWindow.axaml
  Panzerfaust/Views/MainWindow.axaml.cs
  Panzerfaust/Views/ProjectWindow.axaml
  Panzerfaust/Views/ProjectWindow.axaml.cs
  Panzerfaust/Views/SettingsView.axaml
  Panzerfaust/Views/SettingsView.axaml.cs
Labels: enhancement, Feature request, area-ui, Panzerfaust-Launcher

#387 Dropping example directory
  Examples/projectConfig.json
  Scripts/PostBuild.ps1
  Tetragrama/EntryPoint.cpp
Labels: enhancement

#388 deleted unnecessary files
  Panzerfaust/App.axaml.cs
  Panzerfaust/Converters/BitmapAssetValueConverter.cs
  Panzerfaust/Converters/TypeConverters.cs
  Panzerfaust/Extensions/ServiceCollectionExtensions.cs
  Panzerfaust/Helpers/ImageHelper.cs
  Panzerfaust/Templates/ContentExample.axaml
  Panzerfaust/Templates/ContentExample.axaml.cs
Labels: enhancement

#389 Panzerfaust - Adding project removal implementation
  Panzerfaust/Models/ErrorMessage.cs
  Panzerfaust/Models/Message.cs
  Panzerfaust/Panzerfaust.csproj
  Panzerfaust/Service/IProjectService.cs
  Panzerfaust/Service/ProjectService.cs
  Panzerfaust/ViewModels/MainWindowViewModel.cs
  Panzerfaust/ViewModels/MessageBoxWindowViewModel.cs
  Panzerfaust/ViewModels/ProjectViewModel.cs
  Panzerfaust/Views/MainWindow.axaml
  Panzerfaust/Views/MainWindow.axaml.cs
  Panzerfaust/Views/MessageBoxWindow.axaml
  Panzerfaust/Views/MessageBoxWindow.axaml.cs
Labels: Feature request, Panzerfaust-Launcher

#397 Adding validation rules in Configure project form
  Panzerfaust/Service/ProjectService.cs
  Panzerfaust/ViewModels/ProjectWindowViewModel.ValidationRule.cs
  Panzerfaust/ViewModels/ProjectWindowViewModel.cs
  Panzerfaust/Views/CreateProjectView.axaml
Labels: enhancement, Feature request, Panzerfaust-Launcher

#396 Upgrade Dotnet SDK to v8
  .github/workflows/Engine-CI.yml
  .github/workflows/job-cmakebuild-macOS.yml
  .github/workflows/job-cmakebuild-windows.yml
  .github/workflows/job-deploy-macOS.yml
  .github/workflows/job-deploy-windows.yml
  .github/workflows/macOS-build.yml
  .github/workflows/windows-build.yml
  Panzerfaust/Panzerfaust.csproj
  README.md
  Scripts/PostBuild.ps1
Labels: enhancement, Panzerfaust-Launcher

#401 Scoping Assimp to only load obj files
  Scripts/BuildEngine.ps1
Labels: enhancement

#402 Welcome winrt !
  .gitignore
  CMakeLists.txt
  Scripts/CMake/CppWinRT.cmake
  Scripts/CMake/NuGet.cmake
  Tetragrama/Components/DockspaceUIComponent.cpp
  Tetragrama/EditorWindow.cpp
  Tetragrama/EditorWindow.h
  Tetragrama/EntryPoint.cpp
  Tetragrama/Helpers/WindowsHelper.cpp
  Tetragrama/Helpers/WindowsHelper.h
  ZEngine/ZEngine/CMakeLists.txt
  ZEngine/ZEngine/Core/Coroutine.h
  ZEngine/ZEngine/Windows/CoreWindow.h
  dependencies.cmake
Labels: enhancement, Feature request, area-window
