Repository JeanPhilippeKernel/RendererEngine, pull requests merged in 2025-01, with the labels that each got.

#413 Improving the Imgui layer abstraction
  Tetragrama/Components/DockspaceUIComponent.cpp
  Tetragrama/Components/HierarchyViewUIComponent.cpp
  Tetragrama/Components/InspectorViewUIComponent.cpp
  Tetragrama/Components/LogUIComponent.cpp
  Tetragrama/Components/ProjectViewUIComponent.cpp
  Tetragrama/Components/SceneViewportUIComponent.cpp
  Tetragrama/Components/UIComponent.cpp
  Tetragrama/Components/UIComponent.h
  Tetragrama/Editor.cpp
  Tetragrama/Layers/ImguiLayer.cpp
  Tetragrama/Layers/ImguiLayer.h
  Tetragrama/Layers/UILayer.cpp
  Tetragrama/Layers/UILayer.h
  ZEngine/ZEngine/Engine.cpp
Labels: enhancement, area-window, area-ui

#419 Content Browser Implementation
  Resources/Editor/Settings/Icons/DirectoryIcon.png
  Resources/Editor/Settings/Icons/FileIcon.png
  Tetragrama/Components/ProjectViewUIComponent.cpp
  Tetragrama/Components/ProjectViewUIComponent.h
  ZEngine/ZEngine/Rendering/Renderers/GraphicRenderer.cpp
  ZEngine/ZEngine/Rendering/Renderers/GraphicRenderer.h
  ZEngine/ZEngine/Rendering/Renderers/ImGUIRenderer.cpp
  ZEngine/ZEngine/Rendering/Renderers/ImGUIRenderer.h
Labels: Feature request, area-rendering, area-ui

#420 Adding bindless support on Imgui Renderer
  Resources/Shaders/imgui.frag
  Resources/Shaders/imgui.vert
  Tetragrama/Components/ProjectViewUIComponent.cpp
  Tetragrama/Components/SceneViewportUIComponent.cpp
  Tetragrama/Components/SceneViewportUIComponent.h
  ZEngine/ZEngine/Rendering/Renderers/GraphicRenderer.cpp
  ZEngine/ZEngine/Rendering/Renderers/GraphicRenderer.h
  ZEngine/ZEngine/Rendering/Renderers/ImGUIRenderer.cpp
  ZEngine/ZEngine/Rendering/Renderers/ImGUIRenderer.h
  ZEngine/ZEngine/Rendering/Renderers/RenderGraph.cpp
  ZEngine/ZEngine/Rendering/Shaders/Shader.cpp
Labels: Feature request, area-rendering, area-window, area-ui

#421 Some Improvement of Asset Browser
  Tetragrama/Components/ProjectViewUIComponent.cpp
  Tetragrama/Components/ProjectViewUIComponent.h
Labels: enhancement, area-window, area-ui
