Repository JeanPhilippeKernel/RendererEngine, pull requests merged in 2025-04, with the labels that each got.

#433 first iteration - engine runs on Arena
  Tetragrama/Components/DockspaceUIComponent.cpp
  Tetragrama/Editor.cpp
  Tetragrama/Editor.h
  Tetragrama/EditorWindow.cpp
  Tetragrama/EntryPoint.cpp
  Tetragrama/Inputs/Keyboard.h
  Tetragrama/Inputs/Mouse.h
  Tetragrama/Layers/ImguiLayer.cpp
  ZEngine/ZEngine/Core/Containers/Array.h
  ZEngine/ZEngine/Core/Memory/Allocator.cpp
  ZEngine/ZEngine/Engine.cpp
  ZEngine/ZEngine/Engine.h
  ZEngine/ZEngine/Hardwares/VulkanDevice.cpp
  ZEngine/ZEngine/Hardwares/VulkanDevice.h
  ZEngine/ZEngine/Helpers/HandleManager.h
  ZEngine/ZEngine/Logging/Logger.cpp
  ZEngine/ZEngine/Logging/Logger.h
  ZEngine/ZEngine/Managers/TextureManager.cpp
  ZEngine/ZEngine/Managers/TextureManager.h
  ZEngine/ZEngine/Rendering/Buffers/FrameBuffer.cpp
  ZEngine/ZEngine/Rendering/Buffers/Framebuffer.h
  ZEngine/ZEngine/Rendering/Materials/BasicMaterial.cpp
  ZEngine/ZEngine/Rendering/Materials/BasicMaterial.h
  ZEngine/ZEngine/Rendering/Materials/StandardMaterial.cpp
  ZEngine/ZEngine/Rendering/Materials/StandardMaterial.h
  ZEngine/ZEngine/Rendering/Primitives/Fence.h
  ZEngine/ZEngine/Rendering/Primitives/Semaphore.h
  ZEngine/ZEngine/Rendering/Renderers/GraphicRenderer.cpp
  ZEngine/ZEngine/Rendering/Renderers/GraphicRenderer.h
  ZEngine/ZEngine/Rendering/Renderers/ImGUIRenderer.cpp
  ZEngine/ZEngine/Rendering/Renderers/ImGUIRenderer.h
  ZEngine/ZEngine/Rendering/Renderers/RenderGraph.cpp
  ZEngine/ZEngine/Rendering/Renderers/RenderGraph.h
  ZEngine/ZEngine/Rendering/Renderers/RenderPasses/Attachment.h
  ZEngine/ZEngine/Rendering/Renderers/RenderPasses/RenderPass.cpp
  ZEngine/ZEngine/Rendering/Renderers/RenderPasses/RenderPass.h
  ZEngine/ZEngine/Rendering/Renderers/RendererPasses.cpp
  ZEngine/ZEngine/Rendering/Renderers/RendererPasses.h
  ZEngine/ZEngine/Rendering/Scenes/GraphicScene.cpp
  ZEngine/ZEngine/Rendering/Specifications/FrameBufferSpecification.h
  ZEngine/ZEngine/Rendering/Specifications/GraphicRendererPipelineSpecification.h
  ZEngine/ZEngine/Rendering/Textures/Texture.cpp
  ZEngine/ZEngine/Rendering/Textures/Texture.h
  ZEngine/ZEngine/Rendering/Textures/Texture2D.cpp
  ZEngine/ZEngine/Rendering/Textures/Texture2D.h
  ZEngine/ZEngine/Windows/Inputs/IDevice.cpp
  ZEngine/ZEngine/Windows/Inputs/IDevice.h
  ZEngine/ZEngine/ZEngineDef.h
  ZEngine/tests/handleManager_test.cpp
Labels: enhancement, area-window, area-macOS, vulkan-api, critical

#435 More removal of std containers
  Tetragrama/EditorWindow.cpp
  Tetragrama/EditorWindow.h
  ZEngine/ZEngine/Core/Containers/HashMap.h
  ZEngine/ZEngine/Core/Memory/Allocator.cpp
  ZEngine/ZEngine/Core/Memory/Allocator.h
  ZEngine/ZEngine/Hardwares/VulkanDevice.cpp
  ZEngine/ZEngine/Hardwares/VulkanDevice.h
  ZEngine/ZEngine/Hardwares/VulkanLayer.cpp
  ZEngine/ZEngine/Hardwares/VulkanLayer.h
  ZEngine/ZEngine/Managers/ShaderManager.cpp
  ZEngine/ZEngine/Managers/ShaderManager.h
  ZEngine/ZEngine/Managers/TextureManager.cpp
  ZEngine/ZEngine/Managers/TextureManager.h
  ZEngine/ZEngine/Rendering/Buffers/FrameBuffer.cpp
  ZEngine/ZEngine/Rendering/Buffers/Framebuffer.h
  ZEngine/ZEngine/Rendering/Renderers/GraphicRenderer.cpp
  ZEngine/ZEngine/Rendering/Renderers/GraphicRenderer.h
  ZEngine/ZEngine/Rendering/Renderers/ImGUIRenderer.cpp
  ZEngine/ZEngine/Rendering/Renderers/Pipelines/RendererPipeline.cpp
  ZEngine/ZEngine/Rendering/Renderers/Pipelines/RendererPipeline.h
  ZEngine/ZEngine/Rendering/Renderers/RenderGraph.cpp
  ZEngine/ZEngine/Rendering/Renderers/RenderGraph.h
  ZEngine/ZEngine/Rendering/Renderers/RenderPasses/Attachment.cpp
  ZEngine/ZEngine/Rendering/Renderers/RenderPasses/RenderPass.cpp
  ZEngine/ZEngine/Rendering/Renderers/RenderPasses/RenderPass.h
  ZEngine/ZEngine/Rendering/Renderers/RendererPasses.cpp
  ZEngine/ZEngine/Rendering/Shaders/Shader.cpp
  ZEngine/ZEngine/Rendering/Shaders/Shader.h
  ZEngine/ZEngine/Rendering/Specifications/AttachmentSpecification.h
  ZEngine/ZEngine/Rendering/Specifications/FrameBufferSpecification.h
  ZEngine/ZEngine/Rendering/Specifications/GraphicRendererPipelineSpecification.h
  ZEngine/ZEngine/Rendering/Specifications/RenderPassSpecification.h
  ZEngine/ZEngine/Rendering/Specifications/ShaderSpecification.h
  ZEngine/ZEngine/Serializers/GraphicScene3DSerializer.cpp
  ZEngine/ZEngine/Windows/CoreWindow.h
  ZEngine/ZEngine/Windows/Layers/LayerStack.cpp
  ZEngine/ZEngine/Windows/Layers/LayerStack.h
Labels: area-window, area-macOS, critical

#442 Fixing import model and serialization logic
  Tetragrama/Components/DockspaceUIComponent.cpp
  Tetragrama/Components/ProjectViewUIComponent.cpp
  Tetragrama/Editor.cpp
  Tetragrama/Editor.h
  Tetragrama/Helpers/SerializerCommonHelper.cpp
  Tetragrama/Importers/AssimpImporter.cpp
  Tetragrama/Importers/IAssetImporter.h
  Tetragrama/Serializers/EditorSceneSerializer.cpp
  ZEngine/ZEngine/ZEngineDef.h
Labels: enhancement

#440 Math Library
  ZEngine/ZEngine/Core/Maths/Vec.h
  ZEngine/ZEngine/Core/Maths/typedefs.h
  ZEngine/ZEngine/Rendering/Shaders/ShaderInformation.h
  ZEngine/tests/CMakeLists.txt
  ZEngine/tests/Containers/array_test.cpp
  ZEngine/tests/Containers/hashmap_test.cpp
  ZEngine/tests/Containers/initializerlist_test.cpp
  ZEngine/tests/Containers/string_test.cpp
  ZEngine/tests/Maths/Vector_test.cpp
  ZEngine/tests/Memory/IntrusivePtr_test.cpp
  ZEngine/tests/Memory/IntrusiveWeakPtr_test.cpp
  ZEngine/tests/Memory/MemoryOperation_test.cpp
  ZEngine/tests/Memory/allocator_test.cpp
  ZEngine/tests/Memory/bitmap_test.cpp
  ZEngine/tests/Memory/handleManager_test.cpp
  ZEngine/tests/Misc/ThreadPool_test.cpp
  ZEngine/tests/Misc/shaderCompiler_test.cpp
Labels: Feature request, area-rendering, area-window, area-macOS

#444 Fixing key input and log searching implementation
  Tetragrama/Components/LogUIComponent.cpp
  Tetragrama/Components/LogUIComponent.h
  Tetragrama/EditorWindow.cpp
  Tetragrama/Helpers/SearchPatternAlgorithm.cpp
  Tetragrama/Helpers/SearchPatternAlgorithm.h
  Tetragrama/Layers/ImguiLayer.cpp
  Tetragrama/Layers/ImguiLayer.h
  Tetragrama/pch.h
  ZEngine/ZEngine/Logging/Logger.cpp
  ZEngine/ZEngine/Logging/Logger.h
  ZEngine/ZEngine/Rendering/Renderers/ImGUIRenderer.cpp
  ZEngine/ZEngine/Windows/Inputs/KeyCode.h
Labels: enhancement, area-window, area-ui, area-macOS

#447 feat(panzerfaust): add search support allowing user to find projet by name (#399)
  Panzerfaust/ViewModels/MainWindowViewModel.cs
  Panzerfaust/Views/MainWindow.axaml
Labels: enhancement, area-window, area-macOS, Panzerfaust-Launcher
